@import '../../../styles/colors'
@import '../../../styles/mixins'

.cardCreator
	@include air-block
	background: $light-grey
	height: 120px
	width: 220px
	padding: 10px
	display: flex
	&:hover
		@include air-block-hovered
		cursor: pointer
		>svg
			transform: rotate(90deg)
			color: $orange
	>svg
		margin: auto
		height: 70px
		width: 70px
		transition: all 0.2s ease-in-out
