@import '../../../styles/colors'
@import '../../../styles/mixins'

.popup__overlay
	position: absolute
	top: 0
	left: 0
	height: 100vh
	width: 100vw
	background: $grey
	opacity: 0.8
	z-index: 10

.popup
	@include air-block-hovered
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0
	margin: auto
	height: 280px
	width: 320px
	padding: 20px
	background: $light-grey
	z-index: 20
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

	>button
		height: 40px
		top: -35px
		right: -35px
		position: absolute
		color: $light-grey

.popup__title
	color: $dark-grey

.popup__form
	width: 300px
	>button
		margin-top: 16px
		background: $grey
		color: #fff
		height: 28px
		width: 90px
		padding: 0 6px
		display: flex
		&:hover
			color: $orange



