@import '../../../styles/colors'

.card
	background: #f6f6f5
	height: 120px
	width: 220px
	padding: 10px
	display: flex

.card__img
	height: 120px
	width: 100px
	

.card__info
	height: 120px
	margin-left: 10px
	display: flex
	flex-direction: column
	justify-content: space-between

.card__title
	font-size: 16px
	margin: 0
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

.card__description
	margin: 0
	width: 100px
	font-size: 14px
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

.card__price
	margin: 0
	font-size: 14px
