@import '../../../styles/colors'
@import '../../../styles/mixins'

.card__wrapper
	@include air-block
	height: 120px
	width: 220px
	padding: 10px
	background: $light-grey
	&:hover
		@include air-block-hovered

.card
	height: 100%
	display: flex

.card__img
	border-radius: 12px

.card__info
	height: 100%
	margin-left: 12px
	display: flex
	flex-direction: column
	justify-content: space-between

.card__title
	font-size: 16px
	margin: 0
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

.card__description
	margin: 0
	width: 100px
	font-size: 14px
	overflow: hidden
	white-space: nowrap
	text-overflow: ellipsis

.card__price
	margin: 0
	font-size: 14px
